*.swp
*.log
*~
! .gitkeep
.DS_Store
.gradle/
JDelta/.classpath
JDelta/.project
JDelta/.settings/
JDelta/bin/
JVersionNumberer/.classpath
JVersionNumberer/.project
JVersionNumberer/.settings/
JVersionNumberer/bin/